@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%)
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Public Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 48px;
    font-weight: 300;
}

p {
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-section {
    position: relative;
    z-index: 1;
    background: var(--White);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav #navbar {
    display: flex;
}

nav #navbar li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

nav #navbar li a {
    text-decoration: none;
    color: var(--Grayish-Blue);
}

.container {
    width: 1120px;
    margin: 0 auto;
    max-width: 90%;
}

.btn {
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    padding: 10px 20px;
    color: var(--White);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-image: linear-gradient(to right, var(--Bright-Cyan), var(--Lime-Green));
}

.burger {
    display: none;
}

.header-section {
    background: var(--Very-Light-Gray);
    z-index: -1;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 40px;
}

.header-text {
    flex: 1 0 40%;
}

.header-images {
    flex: 1 0 60%;
    position: relative;
}

.header-images img:first-child {
    position: relative;
    top: -50px;
    transform: scale(1.6);
    bottom: 0;
    right: -200px;
}

.header-images img:last-child {
    position: absolute;
    top: -80px;
    transform: scale(1.1);
    right: -160px;
}

.header-text h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 30px
}

.header-text p {
    margin-bottom: 30px;
    color: var(--Grayish-Blue);
}

.pros-section {
    background: var(--Light-Grayish-Blue);
    padding: 100px 0;
}

.pros-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.pros-section p {
    margin-bottom: 60px;
    color: var(--Grayish-Blue);
}

.pros-section .cards-wrap>*+* {
    margin-left: 30px;
}

.pros-section .cards-wrap {
    display: flex;
}

.pros-section .cards-wrap .card img {
    margin-bottom: 20px;
}

.article-section {
    background: var(--Very-Light-Gray);
    padding: 100px 0;
}

.article-section h1 {
    margin-bottom: 30px;
}

.article-section .article-wrap {
    display: flex;
}

.article-section .article-wrap .card {
    border-radius: 10px;
}

.article-section .article-wrap>*+* {
    margin-left: 30px;
}

.article-section .article-wrap img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-section .article-wrap .content {
    background: var(--White);
    padding: 20px;
}

.article-section .article-wrap .content a {
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
    color: var(--Dark-Blue);
}

.article-section .article-wrap .content a:hover {
    color: var(--Lime-Green);
}

.article-section .article-wrap .content p {
    font-size: 16px;
    color: var(--Grayish-Blue);
}

footer {
    background: var(--Dark-Blue);
    padding: 30px;
}

footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer li {
    list-style: none;
}

footer a {
    color: var(--White);
    text-decoration: none;
    padding: 10px 0;
    font-weight: 300;
}

footer .socials {
    display: flex;
    margin-top: 60px;
}

footer .first-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .first-column li {
    margin: 0 4px;
}

footer .second-column li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .third-column li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .footer-cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: var(--Grayish-Blue);
}

footer .footer-cta button {
    margin-bottom: 60px;
}

.show_it {
    transform: translateX(0) !important;
}

.dont_show_it {
    transform: translateX(-100%) !important;
}

@media (max-width:3000px) {
    #last-h1 {
        margin-bottom: 68px;
    }
}

@media (max-width:770px) {
    .nav-section,
    .header-section,
    .pros-section,
    .article-section,
    footer {
        max-width: 100%;
        overflow-x: hidden;
        transition: all 0.6s ease;
    }
    .nav-section nav #navbar {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        background: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        z-index: -1;
        transition: all ease 0.6s;
        transform: translateX(-100%)
    }
    nav #navbar li {
        margin: 12px 0px;
    }
    .nav-section nav button {
        display: none;
    }
    .burger {
        cursor: pointer;
        display: block;
    }
    .header-section {
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .header-images img:first-child {
        position: relative;
        top: -100px;
        transform: scale(1.6);
        bottom: 0;
        right: 0px;
    }
    .header-images img:last-child {
        position: absolute;
        top: -280px;
        transform: scale(1.05);
        right: 0px;
    }
    .header-wrap {
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 140px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .header-text {
        flex: 1 0 0%;
        order: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .header-images {
        flex: 1 0 0%;
        order: 1;
        position: relative;
        margin-bottom: 60px;
    }
    .header-text h1 {
        font-size: 43px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .pros-section {
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .pros-section .cards-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .pros-section .cards-wrap h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    #last-h1 {
        margin-bottom: 20px;
    }
    .article-section {
        padding: 60px 0;
    }
    .article-section .article-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .pros-section .cards-wrap>* {
        margin: 30px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    footer .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    footer .socials {
        margin: 30px 0;
    }
    footer .footer-cta button {
        margin: 30px 0;
    }
    .heading {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 0px 8px;
    }
    .article-section .article-wrap>* {
        margin-left: 0px;
    }
    .article-section .article-wrap .card {
        margin: 30px 0px;
    }
}


/* @media (max-width:430px) {
    .nav-section,
    .header-section,
    .pros-section,
    .article-section,
    footer {
        max-width: 425px;
        overflow-x: hidden;
    }
    .nav-section nav #navbar {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        background: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        z-index: -1;
        transition: all ease 0.6s;
        transform: translateX(-100%)
    }
    nav #navbar li {
        margin: 12px 0px;
    }
    .nav-section nav button {
        display: none;
    }
    .burger {
        cursor: pointer;
        display: block;
    }
    .header-images img:first-child {
        position: relative;
        top: -100px;
        transform: scale(1.6);
        bottom: 0;
        right: 0px;
    }
    .header-images img:last-child {
        position: absolute;
        top: -130px;
        transform: scale(1.05);
        right: 0px;
    }
    .header-wrap {
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 140px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .header-text {
        flex: 1 0 0%;
        order: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .header-images {
        flex: 1 0 0%;
        order: 1;
        position: relative;
        margin-bottom: 60px;
    }
    .header-text h1 {
        font-size: 43px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .pros-section {
        padding: 60px 0;
        display: flex;
    }
    .pros-section .cards-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .article-section {
        padding: 60px 0;
    }
    .article-section .article-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .pros-section .cards-wrap>* {
        margin: 30px 10px;
    }
    footer .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    footer .socials {
        margin: 30px 0;
    }
    footer .footer-cta button {
        margin: 30px 0;
    }
    .heading {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 0px 8px;
    }
    .article-section .article-wrap>* {
        margin-left: 0px;
    }
    .article-section .article-wrap .card {
        margin: 30px 0px;
    }
} */

@media (max-width:390px) {
    .footer-p {
        font-size: 15px;
    }
}

@media (max-width:430px) {
    .header-images img:first-child {
        position: relative;
        top: -47px;
        transform: scale(1.6);
        bottom: 0;
        right: -50px;
    }
    .header-images img:last-child {
        position: absolute;
        top: -96px;
        transform: scale(1.05);
        right: 0px;
    }
}